html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
h1 {
    margin:0;
    }
  
    
#ukupno{
    
    background-image: linear-gradient(to top, #93a5cf 0%, #e4efe9 100%);
}
#unos{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#prikaz{
    display: flex;
    justify-content: space-between;
    
}
#prikaz-prihodi{
    width: 45%;
   
}
#prikaz-rashodi{
    width: 45%;
 
}
#prikaz-prihoda{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(9, 143, 129);
border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
}
#prikaz-rashoda{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    border: 5px solid red;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
}
#dugme-unos, #dugme-brisanje {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }
    /* #dugme-brisanje {
        visibility: hidden;
    } */

    #trenutno-prihodi, #trenutno-rashodi{
        background-color: rgb(9, 143, 129);
    border-radius: 40px;
    color: white;
    width: 40%;
    margin: auto;
    }
    #trenutno-rashodi{
        background-color: red
    }

  
